<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About A²</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>About A²</h1>
    <h2>The Intelligent Agricultural Assistant</h2>

    <div class="card">
        <h3>A project by team<br> FOUR-O-FOUR</h3>
        <p>
            A² is a futuristic agricultural monitoring system designed to help farmers monitor crop health,
            detect diseases or pests, and optimize irrigation and harvesting decisions.
        </p>
        <!-- <p>
            Using drone-mounted cameras and intelligent computer vision algorithms, A² generates actionable insights
            and maps of farmland to highlight problem areas, making precision farming easier and more effective.
        </p> -->
        <button onclick=location.href="/">Back to Home</button>
    </div>

    <footer>© 2025 A² Hackathon Prototype</footer>
</body>
</html>
